/* ===== T.R.X WEB Theme ===== */

body{
    margin:0;
    background:#020b1f;
    color:white;
    font-family:Arial,sans-serif;
}

header{
    background:#051733;
    padding:20px;
    text-align:center;
    border-bottom:2px solid #00bfff;
}

h1{
    color:#00bfff;
    margin:0;
    text-shadow:0 0 15px #00bfff;
}

p{
    color:#9ecfff;
}

.card{
    width:90%;
    max-width:700px;
    margin:40px auto;
    background:#071d3b;
    border:1px solid #00bfff;
    border-radius:15px;
    padding:25px;
    box-shadow:0 0 20px rgba(0,191,255,.3);
}